<h1>{{{app_name}}}</h1>

<p>
  {{#if intro_paragraph}}
    {{intro_paragraph}}
  {{else}}
    Welcome to {{app_name}}!
  {{/if}}
</p>

<p>
  Don't forget to check out the current <a href="/topic">Open Topics</a>!
</p>

{{#if user}}
  <a href="/craft" class="btn btn-secondary">Create Topic</a>

  <h2>My Topics</h2>

  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th style="width: 10%" scope="col">Link</th>
        <th style="width: 10%" scope="col">Audience</th>
        <th style="width: 10%" scope="col">Status</th>
        <th scope="col">Title</th>
      </tr>
    </thead>
    <tbody>
      {{#each userTopics}}
        <tr>
          <td scope="row"><a href="/topic/{{this.hash}}">{{this.hash}}</a></td>
          <td scope="row">{{this.audience}}</td>
          <td scope="row">{{this.status}}</td>
          <td scope="row">{{this.title}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}
