<form action="/login" method="post">
	<div class="form-row align-items-center">
		<div class="col-auto">
			<label class="sr-only" for="username">Username:</label>
			<input type="text" name="username" id="username" class="form-control" placeholder="Username"/>
		</div>
		<div class="col-auto">
			<label class="sr-only" for="password">Password:</label>
			<input type="password" class="form-control" name="password" id="password" placeholder="Password"/>
		</div>
		<div class="col-auto">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>