<h1>Open Topics</h1>

<table class="table table-hover table-sm">
  <thead>
  <tr>
  <th style="width: 10%" scope="col">Link</th>
  <th style="width: 10%" scope="col">Audience</th>
  <th scope="col">Title</th>
  <th scope="col">Date</th>
</tr>
</thead>
<tbody>
  {{#each topics}}
   <tr>
   <td scope="row"><a href="/topic/{{this.hash}}">{{this.hash}}</a></td>
   <td scope="row">{{this.audience}}</td>
   <td scope="row"><a href="/topic/{{this.hash}}">{{this.title}}</a></td>   
   <td scope="row">{{this.updatedAt}}</td>
   </tr>
  {{/each}}
</tbody>
</table>
