
{{#if ownerIsCurrentUser}}
  {{#if unpublished}}
  <div class="alert alert-primary" role="alert">
    This topic is currently in <strong>{{topic.status}}</strong> status and will not be seen by users.
  <form class="form-horizontal" method="POST"></form>
    <div class="form-group">
          <form action="/craft/{{topic.hash}}/status/published" method="POST">
          <a class="btn btn-primary" href="/craft/{{topic.hash}}" role="button">Edit Content</a>
            <input type="submit" name="publishnow" class="btn btn-primary" value="Publish Now">
          </form>
    </div>
  </form>
  </div>
  {{else}}
  <div class="alert alert-success alert-primary" role="alert">
    This topic is currently <strong>{{topic.status}}</strong> and cannot be edited. This topic is visible to <strong>{{topic.audience}}</strong>
  <form class="form-horizontal" method="POST"></form>
    <div class="form-group">
          <form action="/craft/{{topic.hash}}/status/draft" method="POST">
            <input type="submit" name="publishnow" class="btn btn-primary" value="Unpublish">
          </form>
    </div>
  </form>
  </div>
  {{/if}}
{{/if}}

<h1>{{topic.title}}</h1>

{{{htmlDescription}}}

{{#if unpublished}}
{{else}}
  <h3 style="padding-top: 20px">Comments</h3>

  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="newest-tab" data-toggle="tab" href="#newest" role="tab" aria-controls="newest" aria-selected="true">Newest</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="false">Popular</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="newest" role="tabpanel" aria-labelledby="newest-tab">
      {{#each comments.newest}}
        <div class="card my-3">
          <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span style="font-size: 60%; color: #aaa">{{#if this.anonHash}}Anonymous{{/if}}</span>
            <p >{{this.comment}}</p>
            </li>
            <li class="list-group-item">
              <button data-comment="{{this.hash}}" class="upvote btn btn-light mr-3">🙂&nbsp;{{this.thumbsup}}</button>
              <button data-comment="{{this.hash}}" class="downvote btn btn-light mr-3">🙁&nbsp;{{this.thumbsdown}}</button>
              <button href="#" class="btn btn-light mr-3">💬&nbsp;0</button>
            </li>
        </div>
      {{/each}}
    </div>


    <div class="tab-pane fade" id="popular" role="tabpanel" aria-labelledby="popular-tab">
    {{#each comments.mostPopular}}
        <div class="card my-3">
          <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span style="font-size: 60%; color: #aaa">{{#if this.anonHash}}Anonymous{{/if}}</span>
            <p >{{this.comment}}</p>
            </li>
          <li class="list-group-item">
            <button data-comment="{{this.hash}}" class="upvote btn btn-light mr-3">🙂&nbsp;{{this.thumbsup}}</button>
            <button data-comment="{{this.hash}}" class="downvote btn btn-light mr-3">🙁&nbsp;{{this.thumbsdown}}</button>
            <button href="#" class="btn btn-light mr-3">💬&nbsp;0</button>
            </li>
        </div>
      {{/each}}
    </div>
  </div>

  <script>
    $('.upvote').click(function () {
      var hash = $(this).attr('data-comment')
      var self = this
      $.post('/vote/up/' + hash, function (data) {
        $(self).html('🙂&nbsp;' + data.thumbsup)
        $('.downvote[data-comment="' + hash + '"]').html('🙁&nbsp;' + data.thumbsdown)
      })
    })
    
    $('.downvote').click(function () {
      var hash = $(this).attr('data-comment')
      var self = this
      $.post('/vote/down/' + $(this).attr('data-comment'), function (data) {
        $(self).html('🙁&nbsp;' + data.thumbsdown)
        $('.upvote[data-comment="' + hash + '"]').html('🙂&nbsp;' + data.thumbsup)
      })
    })
  </script>
  
<form action="/topic/{{topic.hash}}/comment" method="POST" class="form-horizontal">
  <fieldset>
  <legend>Add a Comment</legend>

  <div class="form-group">
    <div class="col-md-8">                     
      <textarea rows="4" style="width: 100%" class="form-control" id="textarea" name="comment"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4">
      <input id="makecomment" type="submit" class="btn btn-primary" value="Submit"/>
    </div>
  </div>

  </fieldset>
</form>

{{/if}}
